.App {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  width: 300px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(9, 9, 9);
}

.submit {
  flex-shrink: 0;
  padding: 15px;
  font-size: 20px;
  background-color: #09005c;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
